a {
  color: rgb(111, 98, 95);
}
a:hover {
  color: rgb(51, 51, 51);
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(111, 98, 95);
}
body {
  font-family: kalinga, Helvetica, Arial, sans-serif;
  color: rgb(111, 98, 95);
  margin: 0;
  max-width: 960px;
  margin: 0 auto;
}

#logo {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  line-height: 0;
  height: auto;
}
.header-container {
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

header {
  display: inline-block;
  width: 79%;
  margin-left: 21%; 
  padding-top: .4em;
}

nav {
  margin-top: -4px;
  /* margin: 0 auto; */
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
}

nav > ul li {
  display: inline;
  text-align: center;
  font-size: .65em;
}


li > a, 
li > a:hover,
li > a:active,
li > a:visited {
  display: inline-block;
  width: 24%;
  color: #555;
  text-decoration: none;
}

address > a {
  color: #555;
}

hr {
  height: .15em;
  background-color: rgb(242, 105, 34);
  border: none;
}

.nav-underline {
  margin: -3px 0 3px 0;
  width: 24%;
  transition: .3s ease-in-out;
}

.one:hover ~ hr {margin-left: 0%;}
.two:hover ~ hr   {margin-left: 25%;}
.three:hover ~ hr {margin-left: 50%;}
.four:hover ~ hr  {margin-left: 75%;}

.footer {
  background: rgba(100, 100, 100, .3);
  padding-top: 1em;
  padding-left: 3em;
}

.copyright {
  text-align: center;
  font-size: .7em;
}

.service {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.job-shortcut {
  background-color: rgba(100, 100, 100, .85);
  text-align: center;
  padding: 1em;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.job-shortcut:hover {
  background-color: rgb(242, 105, 34);
}
.job-shortcut > a {
  color: white;
  height: 2em;
  text-decoration: none;
  width: 18em;
}

.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.perks {
  margin-top: 1em;
}

.perk {
  font-size: 2em;
  padding-top: .5em;
}
.perk-col {
  text-align: center;
  padding: 1em 0;
}

@font-face {
  font-family: franklin-gothic;
  src: url('../fonts/frank_book.ttf');
}

@font-face {
  font-family: franklin-gothic;
  src: url('../fonts/frank_med.ttf');
  font-weight: bold;
}

@font-face {
  font-family: kalinga;
  src: url('../fonts/kalinga.ttf');
}

@font-face {
  font-gamily: kalinga;
  src: url('../fonts/kalinga_med.ttf');
  font-weight: bold;
}

.job ul li{
  display: list-item;
}

.job {
  background-color: rgb(242, 105, 34);
  border: 2px solid white;
  /*  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;*/
  margin: 0 -26px; 
  padding: 4px 4px 4px 7px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;

  /* So Get this. mobile safari doesn't support clicking on divs? But we can use this instead to make it work? */
  cursor: pointer;
}
.job:hover {
  border: 2px solid rgb(242, 105, 34);
} 

.job > h4 {
  color: white;
}

.submit {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.apply{
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: .2em -26px 0 -26px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.apply-border {
  padding: 4px;
  border: 4px solid rgb(242, 105, 34);
}

.apply:hover {
  border: 1px solid rgb(242, 105, 34);
}

.apply-link,
.apply-link:hover, 
.apply-link:active, 
.apply-link:visited {
  max-width: 30em;
  color: rgb(85, 85, 85);
  text-decoration: none;
}

.contact {
  /* padding: 0 2em; */
}

.application-contact {
  padding-left: 2em;
}

.instructions {
  font-size: 1.5em;
  margin:0 1em 1em 1em;
} 

.info {
  margin: 1em 0 2em 0;
}

.sector {
}

.sector > img {
  display: block;
  width: 100%;
  border : 2px solid white;
  -webkit-transition: border 200ms ease-out;
  -moz-transition: border 200ms ease-out;
  -o-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.sector > img:hover {
  border: 2px solid rgb(242, 105, 34);
}

.sector h3{
  display: inline-block;
  padding-left:.5em;
  font-size: 1.8em;
}

.sectors{
  padding-bottom: 1em;
}

.carousel-caption {
  font-size: 1.2em;
}  

.project-caption {
  background-color: rgba(130, 130, 130, .7);
}

.carousel-caption > div {
  margin-left: 0;
}

.bio-picture{
  display: inline;
}

.bio{
  display: inline-block; 
  padding: 1em 0 0 1em;
}
.bio > h2 {
  display: inline
}
.portrait {
  min-width: 20em;
}

.portrait > img{
  border: 3px solid white;
  -webkit-transition: border 200ms ease-out;
  -moz-transition: border 200ms ease-out;
  -o-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.portrait > img:hover {
  border: 3px solid rgb(242, 105, 34);  
}

.feature-title{
  color: white;
  margin: 0;
  }

@media(max-width: 22em) {
  li > a {
    line-height: 2;
}
address {
  font-size: .7em;
}
body {
  padding-top: 26px;
}
.header-container {
  margin: -26px 0 0 0;
}

.feature-info-mobile {
  color: white;
  background: rgba(100, 100, 100, .7);
}
    
.feature-info-desktop > h3 {
  color: white;
}

.feature-info-desktop {
  color: white;
  display: none;
}

.feature-image { 
  color: white;
  padding: 0;
}
.job-shortcut {
  background-color: rgb(242, 105, 34);
  font-size: 1.3em;
  margin-top: 0;
} 
}

@media(min-width: 22em) and (max-width: 30em) {
  .feature-info-mobile {
    color: white;
    background: rgba(100, 100, 100, .3);
    padding: 0 25px;
}

.feature-info-desktop {
  display: none;
}

.feature-image { 
  color: white;
  padding: 0;
}
li > a {
  line-height: 3;
}
.header-container {
  margin: -30px 0 0 0; // Adjust
}
body {
  padding-top: 30px;
}
.states {
  font-size: 1.2em;
}
ul li {
  font-size: 1em;
}
.job-shortcut {
  background-color: rgb(242, 105, 34);
  font-size: 1.3em;
  margin-top: 0;
}
}

@media(min-width: 30em)  {
  .feature-info-mobile {
    display: none;
}

.feature-info-desktop > h3{
  color: white;
}
.feature-info-desktop {
  background: rgba(130, 130, 130, .7);
  color: white;
}

.right{
  right: 0;
}

.feature-image { 
  color: white;
  position: relative;
  left: 1px;
  padding: 0;
}

li > a {
  line-height: 4;
  font-size: 1.5
}
nav > ul {
  font-size: 1.4em;
}
.header-container {
  margin: -56px 0 0 0; // Adjust
}
body {
  padding-top: 56px;
}
.states {
  font-size: 1.2em;
}
.service {
  font-size: 1.2em;
}
.perk-col {
  font-size: 1.2em;
}
.portrait {
  padding: 2em;
}
.apply {
  margin: 2em;
}
.job-shortcut {
  font-size: 1.4;
  margin-top: -5em;
}
}
@media (min-width: 60em){
  .service {
    border-right: 2px solid rgb(242, 105, 34);
}
.apply {
  margin: .2em 0 0 0;
}
.job {
  margin: 0;
}
.job-shortcut {
  margin-top: -5em;
  font-size: 1.4;
}
}
