<!DOCTYPE html> 
<html>
  <head lang="en">
    <title> Cator Ruma </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/cator_ruma.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="javascripts/js-yaml.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/cator_ruma.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>

    <%= yield_content :assets %>
  </head>
  <body>
    <div class="header-container">
      <img id="logo" src="images/logo.svg" alt="Cator Ruma Logo">
      <header>

      <div class="company-name">

        <span class="name-underline">
          <span>CATOR<span class="bar" >&nbsp;|&nbsp;</span>RUMA</span>
          <span class="hidden-css associates">&amp;&nbsp;ASSOCIATES,&nbsp;CO.</span>
      </span>
      </div>

      <nav> <!-- These have to be tip to tip because inline acknowledges whitespace-->
      <ul><li class="one"> <a href="index.html"> What We Do </a>
        </li><li class="two" >
        <a href="about.html"> Who We Are </a>
        </li><li class="three"> 
        <a href="careers.html" > Work With Us </a>
        </li><li class="four" onclick="$.scrollTo('max', 600)"> 
        <a href="#" > Contact Us </a>
        </li>
        <hr class="nav-underline"></ul>
      </nav>
      </header>
    </div>
    <%= yield %>
    <script id="contact" type="x-handlebars-template">
      <div class="row footer">
        {{#each locations}}
        <div class="col-xs-6 contact col-sm-4">
          <span class="state"> {{state}}: </span> <br>
          <address>
            <a href="https://maps.google.com?daddr={{daddr}}" >
              {{line1}} <br>
              {{line2}} <br></a>
            <a href="{{phone_link}}">{{phone}}</a>
          </address>
        </div>
        {{/each}}
      </div>
      <div class="row footer copyright">
        <div class="col-xs-12">
          © 2013 Cator, Ruma &amp; Associates, Co.
        </div>
      </div>
    </script>       
    <div id="contact-placeholder" class="container-fluid">
    </div>
  </body>
</html>
