@media(max-width: 22em) {
    li > a {
        line-height: 2;
    }
    address {
        font-size: .7em;
    }
    body {
        padding-top: 26px;
    }
    .header-container {
        margin: -26px 0 0 0;
    }

    .brag-info-mobile {
        background: rgba(100, 100, 100, .3);
    }

    .brag-info-desktop {
        display: none;
    }

    .brag-image { 
        padding: 0;
    }
}


@media(min-width: 22em) and (max-width: 30em) {
    .brag-info-mobile {
        background: rgba(100, 100, 100, .3);
    }

    .brag-info-desktop {
        display: none;
    }

    .brag-image { 
        padding: 0;
    }
    li > a {
        line-height: 3;
    }
    .header-container {
        margin: -30px 0 0 0; // Adjust
    }
    body {
        padding-top: 30px;
    }
    .states {
        font-size: 1.2em;
    }
    ul li {
        font-size: 1em;
    }
}

@media(min-width: 30em)  {
    .brag-info-mobile {
        display: none;
    }

    .brag-info-desktop {
        position: absolute;
        width: 30%;
        background: rgba(130, 130, 130, .7);
        padding: 3% 1em 1em 1em ;
        height: 100%; 
        color: white;
    }
    
    .right{
        right: 0;
    }

    .brag-image { 
        position: relative;
        left: 1px;
        padding: 0;
    }

    li > a {
        line-height: 4;
        font-size: 1.5
    }
    nav > ul {
        font-size: 1.4em;
    }
    .header-container {
        margin: -56px 0 0 0; // Adjust
    }
    body {
        padding-top: 56px;
    }
    .states {
        font-size: 1.2em;
    }
    .service {
        font-size: 1.2em;
    }
    .portrait {
        padding: 2em;
    }
    .apply {
        margin: 2em;
    }
}

body {
    font-family: kalinga, Helvetica, Arial, sans-serif;
    margin: 0;
}

#logo {
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    line-height: 0;
    height: auto;
}
.header-container {
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

header {
    display: inline-block;
    width: 79%;
    margin-left: 21%; 
    padding-top: .4em;
}

nav {
    margin-top: -4px;
    /* margin: 0 auto; */
}

ul {
    position: relative;
    padding: 0;
    margin: 0;
}

nav > ul li {
    display: inline;
    text-align: center;
    font-size: .65em;
}


li > a, 
li > a:hover,
li > a:active,
li > a:visited {
    display: inline-block;
    width: 24%;
    text-decoration: none;
    color: #555;
}

address > a {
    color: #555;
}

hr {
    height: .15em;
    background-color: rgb(242, 105, 34);
    border: none;
}

.nav-underline {
    margin: -3px 0 3px 0;
    width: 24%;
    transition: .3s ease-in-out;
}

.one:hover ~ hr {margin-left: 0%;}
.two:hover ~ hr   {margin-left: 25%;}
.three:hover ~ hr {margin-left: 50%;}
.four:hover ~ hr  {margin-left: 75%;}

.footer {
    background: rgba(100, 100, 100, .3);
    padding-top: 1em;
}
.copyright {
    text-align: center;
    font-size: .7em;
}

.service {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.job-shortcut {
    background-color: rgb(242, 105, 34);
    text-align: center;
    font-size: 1.3em;
    padding-top: .3em;
}
.job-shortcut > a {
    color: white;
    height: 2em;
    text-decoration: none;
    width: 18em;
}

.gly-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.perks {
    margin-top: 1em;
}

.perk {
    font-size: 2em;
}

@font-face {
    font-family: franklin-gothic;
    src: url('../fonts/frank_book.ttf');
}

@font-face {
    font-family: franklin-gothic;
    src: url('../fonts/frank_med.ttf');
    font-weight: bold;
}

@font-face {
    font-family: kalinga;
    src: url('../fonts/kalinga.ttf');
}

@font-face {
    font-gamily: kalinga;
    src: url('../fonts/kalinga_med.ttf');
    font-weight: bold;
}

.job ul li{
    display: list-item;
}

.job {
    background-color: rgb(242, 105, 34);
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 0 -26px; 
    padding: 4px 4px 4px 7px;

    /* So Get this. mobile safari doesn't support clicking on divs? But we can use this instead to make it work? */
    cursor: pointer;
}

.job > h4 {
    color: white;
}

.submit {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.apply{
    border: 4px solid rgb(242, 105, 34);
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: .2em -26px 0 -26px;
    padding: 4px;
}

.apply-link,
.apply-link:hover, 
.apply-link:active, 
.apply-link:visited {
    max-width: 30em;
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.contact {
    /* padding: 0 2em; */
}


.application-contact {
    padding-left: 2em;
}

.instructions {
    font-size: 1.5em;
    margin:0 1em 1em 1em;
} 
.info {
    margin: .3em 0;
}
