
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

#logo {
    display: inline-block;
    width: 10%;
}
.container {
    border-bottom: solid 1px #333;
}

header {
    display: inline-block;
    /* text-align: center; */
}
.company-name {
    /* font-size: 3em; */
}

nav {
    width: 80%;
    /* margin: 0 auto; */
}

ul {
    padding: 0;
}

ul li {
    display: inline;
    text-align: center;
    font-size: .5em;
}

a {
    display: inline-block;
    width: 24%;
    padding: .5em 0;
    text-decoration: none;
    color: #555;
}

hr {
    height: .20em;
    width: 24%;
    margin: 0;
    background-color: tomato;
    border: none;
    transition: .3s ease-in-out;
}

.two:hover ~ hr   {margin-left: 25%;}
.three:hover ~ hr {margin-left: 50%;}
.four:hover ~ hr  {margin-left: 75%;}

.bar {
    color: tomato;
}