<!DOCTYPE html> 
<html>
  <head lang="en">
    <title> Cator Ruma </title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="static/css/cator_ruma.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="static/js/cator_ruma.js"></script>
 </head>
  <body>
    <div class="header-container">
      <img id="logo" src="static/img/logo.png" alt="Cator Ruma Logo"><!--
	  --><header>
      	  <nav> <!-- This will have the bootstrap affix if we do that-->
	        <ul><!--
		  --><li class="one"> <a href="index.html"> What We Do </a></li><!--
		  --><li class="two" > <a href="about.html"> Who We Are </a></li><!--
		  --><li class="three"> <a href="careers.html" > Work With Us </a></li><!--
		  --><li class="four" onclick="$.scrollTo('max', 600)"> <a href="#" > Contact Us </a></li><!--
		  --><hr>
	        </ul>
	      </nav>
      </header>
	</div>
<style type="text/css"> hr {margin-left: 25%;}</style>
<video class="bg_video " muted="true" autoplay="true" loop="true" width="100%" height="100%">
    <source type="video/mp4" src="static/vid/work.mp4"/>
    <source type="video/webm" src="static/vid/work.webm"/>
    <source type="video/ogg" src="static/vid/work.ogv"/>
    Update yo browser yo!
</video>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
        <p> <h2> Together </h2>Since 1959, Cator, Ruma & Associates has been providing 
        consulting engineering services for institutional, commercial, industrial, and medical 
        facilities through Colorado and the Western Region. We are one of the premier mechanical, 
        electrical, plumbing, architectural lighting, and information technology firms in the western 
        United States.
            </p>
        <p class="hidden-xs"> With over 80 employees and three offices in the western 
        region, our firm has been built on a solid foundation of engineering knowledge. Since our 
        founding, we have worked with many architects and institutions to build thriving communities. 
        Our project success has allowed us to develop a long-standing and faithful repeat client base in 
        healthcare, higher education, K-12, federal government, municipalities, and private industry. 
        Our depth of experience helps us achieve value driven building systems that are optimized for 
        energy efficiency and comfort.
            </p>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12">
        <h2> Individually </h2>
        <h4> Principals </h4>
        </div>
    </div>
    <!-- The principals -->
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/meints_m.png">
        <h4>Michael Meints CEO </h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/lazzeri_j.png">
        <h4>Jim Lazzeri President </h4> Mechanical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/rudko_d.png">
        <h4>Dennis Rudko Principal </h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/winter_b.png">
        <h4>Blake Winter Principal </h4> Mechanical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/trader_w.png">
        <h4>Wayne Trader Principal </h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/valerius_m.png">
        <h4>Marc Valerius Principal </h4> Electrical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/convery_s.png">
        <h4>Sean Convery Principal </h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/principals/valerius_m.png">
        <h4>Kevin Miller Principal </h4> Electrical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
        <h3> Associates </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/obrien_j.png">
        <h4> Jerry O'Brien Senior Associate</h4> Electrical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/jelinske_m.png">
        <h4> Mark Jelinkse Senior Associate</h4> Mechanical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/rogge_c.png">
        <h4>Charles Rogge</h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/rosier_g.png">
        <h4> Geri Ann Rosier </h4> Finance Manager
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/rudko_j.png">
        <h4> Jacqueline H. Rudko </h4> Electrical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/weber_b.png">
        <h4> Robert Weber </h4> Mechanical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/jesse_j.png">
        <h4> Jeff Jesse </h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/mcmullen_g.png">
        <h4> Gregg McMullen </h4> Electrical Engineer
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/doss_k.png">
        <h4> Kelvin Doss </h4> Mechanical Engineer
        </div>
        <div class="col-xs-6 portrait" >
        <img class="img-responsive img-circle" src="static/img/associates/wondel_n.png">
        <h4> Neal Wondel</h4> Electrical Engineer
        </div>
    </div>
      <div class="row footer">
    <div class="col-xs-4">
        <span class="state"> Colorado: </span> <br>
        <address>
            96 Tabor Street <br>
            Lakewood, CO 80401 <br>
            (303) 232-6200
        </address>
    </div>
    <div class="col-xs-4">
        <span class="state"> Wyoming: </span><br>
        <address>
            420 W. Lincoln Way <br>
            Cheyenne, WY 82001 <br>
            (307) 274-3830
        </address>
    </div>
    <div class="col-xs-4">
        <span class="state"> Oklahoma: </span><br>
        <address>
            2101 NW 28th Street <br>
            Oklahoma City, OK 73107 <br>
            (405) 429-4060
        </address>
    </div>
</div>
      <div class="row footer">
    <div class="col-xs-12">
        © 2013 Cator, Ruma &amp; Associates, Co.
    </div>
</div>
    </div>
  </body>
</html>
