<!DOCTYPE html> 
<html>
  <head lang="en">
    <title> Cator Ruma </title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="static/css/cator_ruma.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/cator_ruma.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
 </head>
  <body>
    <div class="header-container">
      <img id="logo" src="static/img/logo.png" alt="Cator Ruma Logo"><!--
	  --><header>
      	  <nav> <!-- This will have the bootstrap affix if we do that-->
	        <ul><!--
		  --><li class="one"> <a href="index.html"> What We Do </a></li><!--
		  --><li class="two" > <a href="about.html"> Who We Are </a></li><!--
		  --><li class="three"> <a href="careers.html"> Work With Us </a></li><!--
		  --><li class="four" > <a > Contact Us </a></li><!--
		  --><hr>
	        </ul>
	      </nav>
      </header>
	</div>
<style type="text/css"> hr {margin-left: 50%;}</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 brag-image">
      <img id="hats" class="img-responsive" src="static/img/hats.web.jpg" >
    </div>
  </div>

    <div class="row footer">
      <div class="col-xs-4">
        <span class="state"> Colorado: </span> <br>
        <address>
          96 Tabor Street <br>
          Lakewood, CO 80401 <br>
          (303) 232-6200
        </address>
      </div>
      <div class="col-xs-4">
        <span class="state"> Wyoming: </span><br>
        <address>
          420 W. Lincoln Way <br>
          Cheyenne, WY 82001 <br>
          (307) 274-3830
        </address>
      </div>
      <div class="col-xs-4">
        <span class="state"> Oklahoma: </span><br>
        <address>
          2101 NW 28th Street <br>
          Oklahoma City, OK 73107 <br>
          (405) 429-4060
        </address>
      </div>
     </div>

    <div class="row footer">
      <div class="col-xs-12">
        © 2013 Cator, Ruma & Associates, Co.
      </div>
    </div>
  </body>
</html>
