<div id="open-positions" class="row" >
  <div class="col-xs-12" >
    <h2> Open Positions </h2>
  </div>
</div>
<script id="jobs" type="x-handlebars-template">
  <div class="col-xs-12 col-sm-6 info">
    {{#each jobs}}
    <div class="job" >
      <h4 data-toggle="modal" data-target="#{{safetitle}}"> {{title}}</h4>

      <!-- Modal -->
      <div class="modal " id="{{safetitle}}" tabindex="-1" role="dialog" aria-labelledby="{{safetitle}}-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
              <h4 class="modal-title" id="{{safetitle}}-label"> {{title}}</h4>
            </div>
            <div class="modal-body">
              {{blurb}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
      <div class="apply">
    <div class="apply-border">
        <a class="apply-link" href="{{application-form}}">
          Application
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 info">
    <div class=" submit" >
      <div class="instructions"> Submit all application forms to Ayla Berger</div>
      <div class="application-contact" >
        Email: <a href="mailto:aberger@catorruma.com"> aberger@catorruma.com </a><br/>
        Fax: (303) 202-6303
      </div>
    </div>
  </div>
</script>

<div id="jobs-placeholder" class="row info">
</div>
