<div id="open-positions" class="row" >
  <div class="col-xs-12" >
    <h2> Open Positions </h2>
  </div>
</div>
<div class="row info">
  <div class="col-xs-12 col-sm-6 info">
    <div class="job" >
      <h4 data-toggle="modal" data-target="#commissioning-technician"> Commissioning Technician</h4>

      <!-- Modal -->
      <div class="modal " id="commissioning-technician" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
              <h4 class="modal-title" id="myModalLabel"> Commissioning Technician</h4>
            </div>
            <div class="modal-body">
              Cator, Ruma &amp; Associates is seeking a full time employee  to lead, support and execute building commissioning. This position  demands an experienced self-starter capable of successfully commissioning  mechanical, electrical and plumbing systems for commercial and institutional  facilities. These shall include K-12 , higher education,  healthcare, laboratory, and commercial/Industrial buildings with an emphasis on  other energy intensive markets. <br>
              <br>
              Typical duties include but will not be limited to:
              <ul>
                <li>Perform all aspects of the commissioning of  mechanical, electrical and control systems for commercial and institutional  buildings.</li>
                <li>Perform commissioning design reviews and  comment.</li>
                <li>Review submittal documents.</li>
                <li>Prepare pre-functional and functional forms,  review forms after completion.</li>
                <li>Develop commissioning requirements/plans  including commissioning project specifications.</li>
                <li>Develop and/or review systems manuals.</li>
                <li>Assist with writing and assembly of  commissioning reports.</li>
                <li>Take an active role in business development and  expansion.</li>
                <li>Maintain strong client relationships.</li>
                <li>Other responsibilities as defined by the Client.</li>
              </ul>
              Education and experience:
              <ul>
                <li>Graduate Engineer or similar field.&nbsp;  Appropriate work experience may be considered as a substitute. </li>
                <li>Knowledge of ASHRAE commissioning industry  standards.&nbsp; Commissioning certification, such as from the Building  Commissioning Associates, or similar is preferred but not required. Successful  candidate must be prepared to take the exam (if not current at the time  interview) within 6 months of start date.</li>
                <li>Knowledge of the International Codes, National  Electrical Code and various industry standards, such as OSHA and NFPA.</li>
                <li>Valid Driver’s License with clean driving  record.</li>
                <li>Background check will be required.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job" >
      <h4 data-toggle="modal" data-target="#electrical-engineer"> Electrical Engineer</h4>

      <!-- Modal -->
      <div class="modal " id="electrical-engineer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
              <h4 class="modal-title" id="myModalLabel"> Electrical Engineer</h4>
            </div>
            <div class="modal-body">
              Cator, Ruma & Associates is seeking a skilled Electrical Engineer with a minimum of 3 years of experience.  This is a career opportunity for a person who has previous experience in the building consulting engineering business as a project designer, engineer, or project manager. References which support past experiences will be mandatory.

              We need a conscientious, responsible individual who is well versed in electrical power, lighting, fire alarm, communications and building systems design for institutional and commercial buildings. The optimal candidate will have knowledge in operating Revit (min 1 yr. experience) and AutoCAD (min 3 yrs. experience) to draft and design Electrical Systems. Good written and verbal communication skills are essential for the position.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job" >
      <h4 data-toggle="modal" data-target="#mechanical-engineer"> Mechanical Engineer</h4>

      <!-- Modal -->
      <div class="modal " id="mechanical-engineer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
              <h4 class="modal-title" id="myModalLabel"> Mechanical Engineer</h4>
            </div>
            <div class="modal-body">
              Cator, Ruma &amp; Associates is seeking a skilled Mechanical Engineer with a minimum of 3 years of experience.  This is a career opportunity for a person who has previous experience in the building consulting engineering business as a project designer, engineer, or project manager.  References which support past experiences will be mandatory.

              Experience with Green HVAC and electrical systems a plus. The optimal candidate will have knowledge in operating Revit (min 1 yr. experience) and AutoCAD (min 3 yrs. experience) to draft and design Mechanical Systems. Good written and verbal communication skills are essential for the position.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="apply">
      <a class="apply-link" href="static/img/cra_application.pdf">
        Application
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 info">
    <div class=" submit" >
      <div class="instructions"> Submit all application forms to Ayla Berger</div>
      <div class="application-contact" >
        Email: <a href="mailto:aberger@catorruma.com"> aberger@catorruma.com </a><br/>
        Fax: (303) 202-6303
      </div>
    </div>
  </div>
</div>
