---
layout: false
---
:plain 
  #Need all three formats to work on all browsers
  #Put no-video to just use image
  feature-video-mp4: videos/work.mp4
  feature-video-ogv: videos/work.ogv
  feature-video-webm: videos/work.webm
  
  #Only used if we don't have video, or they don't support it
  feature-image: "https://placehold.it/900x600"
  
  #Visible on all devices
  together-main: |
        Since 1959, Cator, Ruma &amp; Associates has been providing consulting engineering services for institutional, commercial, industrial, and medical facilities through Colorado and the Western Region. We are one of the premier mechanical, electrical, plumbing, architectural lighting, and information technology firms in the western United States.
        
  #Won't show up if we're pressed for room
  together-extra: |
        With over 80 employees and three offices in the western region, our firm has been built on a solid foundation of engineering knowledge. Since our founding, we have worked with many architects and institutions to build thriving communities. Our project success has allowed us to develop a long-standing and faithful repeat client base in healthcare, higher education, K-12, federal government, municipalities, and private industry. Our depth of experience helps us achieve value driven building systems that are optimized for energy efficiency and comfort.
  
  principals:
    - 
      name: Michael Meints
      job: CEO
      flavor: Mechanical Engineer
      image: images/principals/meints_m.png
      bio: This is a bio
    - 
      name: Jim Lazzeri
      job: President
      flavor: Mechanical Engineer
      image: images/principals/lazzeri_j.png
      bio: This is a bio
    -
      name: Dennis Rudko
      job: Principal
      flavor: Mechanical Engineer
      image: images/principals/rudko_d.png
      bio: This is a bio
    - 
      name: Blake Winter
      job: Principal
      flavor: Mechanical Engineer
      image: images/principals/winter_b.png
      bio: This is a bio
    - 
      name: Wayne Trader
      job: Principal
      flavor: Mechanical Engineer
      image: images/principals/trader_w.png
      bio: This is a bio
    -
      name: Marc Valerius
      job: Principal
      flavor: Electrical Engineer
      image: images/principals/valerius_m.png
      bio: This is a bio
    -
      name: Sean Convery
      job: Principal
      flavor: Mechanical Engineer
      image: images/principals/convery_s.png
      bio: This is a bio
    -
      name: Kevin Miller
      job: Principal
      flavor: Electrical Engineer
      image: images/principals/miller_k.png
      bio: This is a bio
  
  associates:
    -
      name: "Jerry O'Brien"
      image: images/associates/obrien_j.png
      flavor: Electrical Engineer
      bio: This is a bio
    -
      name: Mark Jelinske
      image: images/associates/jelinske_m.png
      flavor: Mechanical Engineer
      bio: This is a bio
    - 
      name: Geri Ann Rosier
      image: images/associates/rosier_g.png
      flavor: Finance Manager
      bio: This is a bio
    - 
      name: Charles Rogge
      image: images/associates/rogge_c.png
      flavor: Mechanical Engineer 
      bio: This is a bio
    - 
      name: Jacqueline Rudko
      image: images/associates/rudko_j.png
      flavor: Electrical Engineer
      bio: This is a bio
    - 
      name: Robert Weber
      image: images/associates/weber_b.png
      flavor: Mechanical Engineer
      bio: This is a bio
    - 
      name: Jeff Jesse
      image: images/associates/jesse_j.png
      flavor: Mechanical Engineer
      bio: This is a bio
    - 
      name: Gregg McMullen
      image: images/associates/mcmullen_g.png
      flavor: Electrical Engineer
      bio: This is a bio
    - 
      name: Kelvin Doss
      image: images/associates/doss_k.png
      flavor: Mechanical Engineer 
      bio: This is a bio
    - 
      name: Neal Wondel
      image: images/associates/wondel_n.png
      flavor: Electrical Engineer
      bio: This is a bio
