= content_for :assets do
  = javascript_include_tag 'about'
  :css
    hr.nav-underline {margin-left: 25%;}

%script#media{:type=>"x-handlebars-template"}
  %video.bg_video{:autoplay => "true", :height => "100%", :loop => "true", :muted => "true", :width => "100%", :poster => "{{feature-image}}"}

    %source{:src => "{{feature-video-mp4}}", :type => "video/mp4"}
    %source{:src => "{{feature-video-ogv}}", :type => "video/webm"}
    %source{:src => "{{feature-video-webm}}", :type => "video/ogg"}
    %img{:src => "{{feature-image}}"}
#media-placeholder
.container-fluid
  %script#about{:type=>"x-handlebars-template"}
    .col-xs-12
      %h2 Together
      %hr/
      %p {{together-main}}
      %p.hidden-xs {{together-extra}}
  .row#about-placeholder
  .row
    .col-xs-12
      %h2 Individually
      %hr/
  / The principals
  %script#principals{:type=>"x-handlebars-template"}
    %h3 Principals
    :plain 
      {{#each principals}}
    %a{:type=>"button", "data-toggle"=>"modal", "data-target"=>".{{target}}-modal"}
      .col-xs-6.col-sm-4.portrait
        %img.img-responsive.img-rounded{:src=>"{{image}}"}/
        %h4
          :plain
            {{name}}
            {{job}}
        :plain
          {{flavor}}
    .modal{:class => "{{target}}-modal", :role =>"dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %a.close{:type=>"button", "data-dismiss"=>"modal"} &times;
            %br/
            %img.img-responsive.img-rounded.bio-picture{:src=>"{{image}}"}/
            %div.bio
              %h2
                {{name}}
              %h4 {{job}}
              %h4 {{flavor}}
          .modal-body
            .div
              :plain
                {{bio}}
    :plain
      {{/each}}
  .row#principals-placeholder
  %script#associates{:type=>"x-handlebars-template"}
    %h3 Associates
    :plain 
      {{#each associates}}
    %a{:type=>"button", "data-toggle"=>"modal", "data-target"=>".{{target}}-modal"}
      .col-xs-6.col-sm-4.portrait
        %img.img-responsive.img-rounded{:src=>"{{image}}"}/
        %h4
          :plain
            {{name}}
            {{job}}
        :plain
          {{flavor}}
    .modal{:class => "{{target}}-modal", :role =>"dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %a.close{:type=>"button", "data-dismiss"=>"modal"} &times;
            %br/
            %img.img-responsive.img-rounded{:src=>"{{image}}", :style => "display: inline"}/
            %div{:style => "display: inline-block; padding: 1em 0 0 1em;"}
              %h2{:style => "display: inline"}
                {{name}}
              %h4 {{flavor}}
          .modal-body
            .div
              :plain
                {{bio}}
    :plain
      {{/each}}
  .row#associates-placeholder
