= content_for :assets do
  = javascript_include_tag 'careers'
  :css
    hr.nav-underline {margin-left: 50%;}

.container-fluid
  .row
    %script#feature{:type => 'x-handlebars-template'}
      %img.img-responsive{:src => "{{feature-image}}"}
    #feature-placeholder.col-xs-12.feature-image
  .row
    .col-xs-12.job-shortcut{:onclick => "$.scrollTo('#open-positions', 600)"}
      %a
        %span.glyphicon.glyphicon-search
        &nbsp;See Open Positions
  .row.perks
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-star.perk
      %br
        High Performance Company
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-stats.perk
      %br
        Competitive Salary/Bonus
  .row
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-user.perk
      %br
        Paid Benefits
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-piggy-bank.perk
      %br
        401(k) Plan
  .row
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-pencil.perk
      %br
        Commitment to Continuing Education
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-signal.perk
      %br
        Unlimited Advancement Potential
  .row
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-tasks.perk
      %br
        Hands-On Engineering
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-th.perk
      %br
        Wide Variety of Projects
  .row
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-globe.perk
      %br
        Business Travel Opportunities
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-link.perk
      %br
        Memberships/ Registrations
  .row
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-hourglass.perk
      %br
        Convenient Hours
    .col-xs-6.perk-col
      %span.glyphicon.glyphicon-signal.perk
      %br
        Employee Incentive Programs
  .row
    .col-xs-6.col-xs-offset-3.perk-col
      %span.glyphicon.glyphicon-grain.perk
      %br
        Commitment to Physical and Mental Fitness
  %hr/
  = partial :jobs
